nav {
    background-color: #303030;
    height: 80px;
    width: 100%;
}

img.logo {
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px;
    float: left;
}

label.title {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 25px;
    font-weight: bold;
    float: left;
}

nav ul {
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    background-color: #404040;
    color: white;
    font-size: large;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
}

nav ul li a:hover {
    transform: scale();
    background-color: #505050;
}