@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: xx-large;

    transition: 0.25s;
}

body {
    background-color: rgb(50, 50, 50);
    color: white;
}

.light {
    background-color: rgb(205, 205, 205);
    color: black;
}

.max {
    background-image: url(./src/MaxBackground.png);
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: x-large;
    text-align: center;
}

.NavBar {
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    text-align: center;
    padding: 10;
}

button {
    background-color: rgb(100, 100, 100);
    border: 0px rgb(0, 0, 0);
    padding: 10;
    border-radius: 10px;
    display: inline-block;
}

button:hover {
    background-color: rgb(125, 125, 125);
}

button:active {
    background-color: white;
}