@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: xx-large;

    transition: 0.25s;
}

body {
    background-color: rgb(50, 50, 50);
    color: white;
}

.light {
    background-color: rgb(205, 205, 205);
    color: black;
}

.max {
    background-image: url(./src/MaxBackground.png);
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: x-large;
    text-align: center;
}

.NavBar {
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    text-align: center;
    padding: 5;
}

button {
    background-color: rgb(100, 100, 100);
    border: 0px rgb(0, 0, 0);
    padding: 10;
    border-radius: 10px;
    display: inline-block;
}

button:hover {
    background-color: rgb(125, 125, 125);
}

button:active {
    background-color: white;
}

iframe {
    width: 100%;
    height: 90%;
}

img {
    border-radius: 10px;
}

h1 {
    animation-name: TitleS;
    animation-duration: 10;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes TitleS {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(10deg)}
    50% {transform: rotate(0deg)}
    75% {transform: rotate(-10deg)}
    100% {transform: rotate(0deg)}
}